//colors
$darkTheme-background: #262626;
$darkTheme-color: #fafafa;
$backgroundBtn: #389165;
$backgroundBtnHover: #27744f;
$backgroundBtnActive: #1f5d41;
$backgroundBtnDisabled: #b9e1c8;
$colorBtnDisabled: #1f5d41;


//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');//font-family: 'Inter', sans-serif;

*{
  margin: 0;
  padding: 0;
}

nav{
  width: 100%;
  background-color: $darkTheme-background;
  color: $darkTheme-color;
  font-family: 'Inter', sans-serif;
  font-size: 14px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  padding: 4px 4px 0px 4px;
  img{
    color: $darkTheme-color;
  }
  display: none;
}

section{
  height: 100vh;
  width: 100%;
  background-color: $darkTheme-background;
  color: $darkTheme-color;

  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  #timer{
    display: flex;
    gap: 8px;

    font-family: 'Inter', sans-serif;
    font-size: 48px;
    .space{
      color: $backgroundBtn;
    }
  }
  #buttons{
    display: flex;
    flex-direction: column;
    gap: 24px;

    .btn{
      width: 80px;
      height: 32px;
      border: none;
      border-radius: 16px;
      background-color: $backgroundBtn;
      color: $darkTheme-color;

      font-family: 'Inter', sans-serif;
      font-weight: 500;

      cursor: pointer;
      transition: 0.4s;
      &:hover{
        background-color: $backgroundBtnHover;
      }
      &:active{
        background-color: $backgroundBtnActive;
      }
      &:disabled{
        background-color: $backgroundBtnDisabled;
        color: $colorBtnDisabled;
        cursor: not-allowed;
      }
    }
  }
}

@media screen and (min-width: 800px){
  section{
    #timer{
      font-size: 64px;
    }
    #buttons{
      flex-direction: row;
      .btn{
        width: 104px;
        height: 40px;
      }
    }
  }
}