//colors
$darkTheme-background: #262626;
$darkTheme-color: #fafafa;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');//font-family: 'Inter', sans-serif;

*{
  margin: 0;
  padding: 0;
}

nav{
  background-color: $darkTheme-background;
  color: $darkTheme-color;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

section{
  height: 100vh;
  background-color: $darkTheme-background;
  color: $darkTheme-color;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;

  #timer{
    display: flex;
    gap: 8px;

    font-family: 'Inter', sans-serif;
    font-size: 64px;
  }
  #buttons{
    display: flex;
    gap: 16px;

    .btn{
      width: 80px;
      height: 32px;
      border-radius: 16px;

      font-family: 'Inter', sans-serif;
      font-weight: bold;

      cursor: pointer;
    }
  }
}